body{
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left,#ebf4f5, #b5c6e0)
}
h1{
    color: #333;
    margin-bottom: 15px;
}
.container{
    background: #222;
    padding: 20px;
    border-radius: 15px;
    width: 260px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#display{
    background-color: aliceblue;
    width: 70%;
    height: 30px;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}
button{
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #444;
    color: white;
    transition: 0.2s;
}



button:hover{
    background: #666;
}

button:active{
    transform:scale(0.95);
}
/* ooperators ( + - * / ) */
button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16){
    background: rgb(238, 111, 6);
}

/*equal button*/
button:nth-child(14){
    background: green;
}

@media(max-width:500px){

    .container{
        width:90%
    }
    /* button{
        width: 22%;
        height: 50px;
        font-size: 16px;
    } */
    #display{
        height: 45px;
        font-family: 18px;
    }
}

















